## Introducción

## Hipotesis que se desean demostrar con los datos

- Normalización de salarios con respecto al coste de vida de los países

# Fuentes

- Puestos de trabajos relacionados con IA: https://www.kaggle.com/datasets/bismasajjad/global-ai-job-market-and-salary-trends-2025/data
- Análisis de coste de vida: https://www.kaggle.com/datasets/myrios/cost-of-living-index-by-country-by-number-2024

- Salario promedio por países: https://www.kaggle.com/datasets/meeratif/list-of-countries-by-average-wage-monthly-yearly

## Cargado de datos y visualización

In [39]:
import pandas as pd
import os

path_ai_jobs = os.path.join('data','ai_job_dataset.csv')
path_cost_of_living = os.path.join('data', 'salary_data.csv')

job_df = pd.read_csv(path_ai_jobs, sep=',')
salary_per_country_df = pd.read_csv(path_cost_of_living, sep=',')

print('TRABAJOS EN IA')
display(job_df.sample(5))

print('COSTE DE VIDA POR PAÍSES')
display(salary_per_country_df.sample(5))

TRABAJOS EN IA

,job_id,job_title,salary_usd,salary_currency,experience_level,employment_type,company_location,company_size,employee_residence,remote_ratio,required_skills,education_required,years_experience,industry,posting_date,application_deadline,job_description_length,benefits_score,company_name
150,AI00151,NLP Engineer,57266,USD,MI,FL,Ireland,M,Ireland,0,"Computer Vision, PyTorch, Linux, TensorFlow",Bachelor,3,Media,2024-08-11,2024-08-26,1075,7.3,Neural Networks Co
9794,AI09795,AI Architect,72440,USD,SE,FT,Ireland,S,Netherlands,50,"MLOps, Python, Computer Vision",Master,5,Manufacturing,2024-08-21,2024-09-24,1980,8.8,Neural Networks Co
11801,AI11802,AI Consultant,271385,USD,EX,PT,Denmark,S,United States,50,"NLP, MLOps, Hadoop",PhD,11,Gaming,2024-03-17,2024-04-24,2071,5.7,TechCorp Inc
10493,AI10494,AI Consultant,45894,USD,EN,PT,South Korea,M,South Korea,50,"Tableau, Scala, AWS",Master,1,Government,2024-05-30,2024-07-13,581,5.1,Neural Networks Co
12003,AI12004,AI Research Scientist,68301,USD,MI,FL,Finland,L,Finland,0,"Scala, SQL, PyTorch, TensorFlow",Bachelor,4,Government,2024-10-01,2024-10-16,873,7.2,Quantum Computing Inc

COSTE DE VIDA POR PAÍSES

,country_name,continent_name,wage_span,median_salary,average_salary,lowest_salary,highest_salary
37,Cayman Islands,Caribbean,Monthly,3430.97000,3901.56000,984.39000,17406.960
126,Martinique,Caribbean,Monthly,2949.26000,3192.39000,803.38000,14164.900
85,Guinea-Bissau,Africa,Monthly,475.35000,551.09000,139.06000,2449.280
220,Zimbabwe,Africa,Monthly,555.40204,602.37635,151.42305,2674.772
131,Micronesia,Oceania,Monthly,1250.00000,1410.00000,360.00000,6270.000

## Datos representativos del dataset objeto de estudio

In [40]:
summary_df = pd.DataFrame({
    'Dataset asociado': ['Puestos de trabajo IA', 'Salario por países', 'Coste de vida'],
    'num_registros': [len(job_df), len(salary_per_country_df), len()],
    'num_columnas': [job_df.shape[1], salary_per_country_df.shape[1]],
    'filas_totalmente_nulas': [(job_df.isnull().all(axis=1).any()), (salary_per_country_df.isnull().all(axis=1).any())]
})

summary_df

        Dataset asociado  num_registros  num_columnas  filas_totalmente_nulas
0  Puestos de trabajo IA          15000            19                   False
1     Salario por países            221             7                   False

¿Cúantos países aparecen en el dataset?

In [50]:
x = set(job_df['company_location'].unique())
y = set(salary_per_country_df['country_name'].unique())

print(x - y)
pd.merge(job_df, salary_per_country_df, left_on='company_location', right_on='country_name')

{'Israel', 'South Korea'}

False